<% @users.each do |user| %>
  <div class="row">
    <div class="col-md-1">
      <div class="image-circle2">
        <%= image_tag user.avatar.url(:medium) %> 
      </div>
    </div>
    <div class="col-md-1" id="name-on-post">
      <%= link_to user.username, user%>
    </div>
  </div>
<% end %>
