<div class="row">
  <div class="col-md-4">
    <div class="image-circle">
      <%= image_tag current_user.avatar.url(:medium) %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="text-user">
      <p><%= current_user.email %></p>
      <p><%= current_user.email.split("@")[0] %></p>
      <p>3 publications</p>
    </div>
  </div>
</div>
