/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {  
  background-color: #fafafa;
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-default {
  .navbar-nav li a {
    color: #125688;
  }
}

.navbar-default {
  .navbar-header {
    .navbar-brand  {
      color: #125688;
    }
  }
}

.image-circle {
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 70px;
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  height: 150px;
  width: 150px;
  overflow: hidden;
  text-align: center;
  img { width: 100% }
}

.image-circle2 {
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  height: 40px;
  width: 40px;
  overflow: hidden;
  text-align: center;
  img { width: 100% }
  margin-bottom: 10px;
  margin-top: 10px;
}

#name-on-post {
  margin-top: 17px;
  font-size: 16px;
  color: #125688;
  font-weight: bold;
}
.text-user {
  font-family: proxima-nova, 'S Light', sans-serif;
  color: #505050;
  font-size: 25px;
}

.thum-name {
  font-size: 20px;
}

li {
  display: inline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
