@import "bootstrap-sprockets";
@import "bootstrap";

html{
  height: 100%;
}

body {
  background-color: #fafafa;
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

body#login-page{
  background: url(jump.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body#registration-page{
  background: url(metro.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#login-form{
  width: 67%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: white;
  border-radius: 8px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

#registration-form{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: white;
  border-radius: 8px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

#login-heading{
  padding-top: 5px;
  padding-bottom: 15px;
}

#pnavbar{
  background-color: white;
  height: 70px;
}

.navbar-default {
  .navbar-nav li a {
    color: #125688;
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
    margin-top: 15px;
  }
}

.navbar-default {
  .navbar-header {
    .navbar-brand  {
      color: #125688;
    }
  }
}

.single-post{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.image-circle {
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 70px;
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  height: 150px;
  width: 150px;
  overflow: hidden;
  text-align: center;
  img { width: 100% }
}

#image-circle2 {
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  height: 40px;
  width: 40px;
  overflow: hidden;
  text-align: center;
  img { width: 100% }
  margin-bottom: 10px;
  margin-top: 10px;
}

#name-on-post {
  margin-top: 17px;
  font-size: 14px;
  color: #125688;
  font-weight: bold;
}

#date-on-post {
  margin-top: 19px;
  font-size: 14px;
  color: #a5a7aa;
}

li {
  display: inline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.commentList {
  list-style:none;
  max-height:200px;
  overflow:auto;
  margin-left: 13px;
}

.commentList li {
  margin:0;
  margin-top:10px;
}

.commentList li > div {
    display:table-cell;
}

.commenterImage {
  font-weight: bold;
  color: #125688;
  font-size: 16px;
}

.commentText{
  font-size: 16px;
  padding-left: 3px;
}

.heart{
  width: 4%;
  margin-top: 5px;
  margin-left: 10px;
}

.thumbnail .deleteComment {
  padding-left: 10px;
}

#n-comment{
  font-size: 14px;
  color: #125688;
  font-weight: bold;
  margin-left: 13px;
}

.actionBox {
  margin-top: 10px;
  border-top: 1px dotted #bbb;
  padding: 5px;
}

#cbox {
  width: 560px;
}

.likes_count {
  color: #4b4f54;
  font-size: 15px;
  padding-left: 13px;
  padding-top: 6px;
}
