/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {  
  background-color: #fafafa;
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-default {
  .navbar-nav li a {
    color: #125688;
  }
}

.navbar-default {
  .navbar-header {
    .navbar-brand  {
      color: #125688;
    }
  }
}

.image-circle {
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 70px;
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  height: 150px;
  width: 150px;
  overflow: hidden;
  text-align: center;
  img { width: 100% }
}

.image-circle2 {
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  height: 40px;
  width: 40px;
  overflow: hidden;
  text-align: center;
  img { width: 100% }
  margin-bottom: 10px;
  margin-top: 10px;
}

#name-on-post {
  margin-top: 17px;
  font-size: 16px;
  color: #125688;
  font-weight: bold;
}

#date-on-post {
  margin-top: 19px;
  font-size: 14px;
  color: #a5a7aa;
  padding-left: 30px;
}
.text-user {
  font-family: proxima-nova, 'S Light', sans-serif;
  color: #4b4f54;
  font-size: 25px;
  font-weight: 300;
  margin-top: 10px;
}

.thum-name {
  font-size: 20px;
}

li {
  display: inline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#test {
  width: 574px;
}
.actionBox {
  margin-top: 10px;
  border-top: 1px dotted #bbb;
  padding: 5px;
}

.likes_count {
  color: #4b4f54;
  font-size: 15px;
  margin-left: 13px;
  margin-top: 6px;
}

#n-comment{
  font-size: 15px;
  color: #125688;
  font-weight: bold;
  margin-left: 13px;
}

.commentList {
  padding:0;
  list-style:none;
  max-height:200px;
  overflow:auto;
  margin-left: 13px;
}

.commentList li {
  margin:0;
  margin-top:10px;
}

.commentList li > div {
  display:table-cell;
}

.commenterImage {
  font-weight: bold;
  color: #125688;
  font-size: 16px;
}

.commentText{
  font-size: 16px;
  padding-left: 3px;
}

.heart{
  width: 3%;
  margin-top: 5px;
  margin-left: 13px;
}

.thumbnail .deleteComment {
  padding-left: 10px;
}

.user-stats{
  font-size: 18px;
}

#follow-unfollow{
  margin-left: 10px;
}

#follow-button {
  height: 30px;
  line-height: 10px;
  background: 0 0;
  font-size: 14px;
  font-weight: 600;
  outline: none;
  overflow: hidden;
  text-transform: uppercase;
  white-space: nowrap;
  border: 1px solid #4090db;
  color: #4090db;
}

#unfollow-button {
  height: 30px;
  line-height: 10px;
  background: 0 0;
  font-size: 14px;
  font-weight: 600;
  outline: none;
  overflow: hidden;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: #66bd2b;
}
